@font-face {
    font-family: "Open Sans Light";
    src: url(../fonts/OpenSans-Light.ttf);
}

body {
    font-family: "Open Sans Light", Helvetica, Arial, sans-serif;
}

#city {
    font-size: 110%;
}
#temperature {
    font-size: 350%;
    line-height: 45px;
}