@font-face {
    font-family: "Open Sans Light";
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: "Open Sans Regular";
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {
    font-family: "Open Sans Light", Helvetica, Arial, sans-serif;
}

#canvasClock {
    margin-left: -15px;
}
#informationBar {
    margin-top: 10px;
    height: 600px;
}
#meteorologyController > .col-xs-12 > .row {
    margin-bottom: 20px;
}
#meteorologyController > .col-xs-12 > .row:last-child {
    margin-bottom: 0;
}
#city {
    font-size: 110%;
    text-align: left;
    font-family: "Open Sans Regular", Helvetica, Arial, sans-serif;
}
#temperature .value {
    font-size: 350%;
    line-height: 45px;
    text-align: center;
}
/*Icon Sizes*/
#temperatureRange .wi-thermometer,
#humidityRange .wi-humidity,
#wind i[class*=wi-wind-beaufort],
#sunset .wi-horizon,
#sunrise .wi-sunrise {
    font-size: 170%;
    margin-top: 10px;
}
#sunset,
#sunrise {
    margin-bottom: 0 !important;
}
#sunset .wi-horizon,
#sunrise .wi-sunrise {
    line-height: 0;
}
#rain .wi-raindrops {
    font-size: 350%;
    margin-top: 10px;
    line-height: 13px;
}
#forecast .wi {
    font-size: 350%;
    margin-top: 10px;
    line-height: 13px;
}
#forecast .value {
    text-align: right;
    font-size: 90%
}
/*Small values format*/
#temperatureRange span:not(.value),
#humidityRange span:not(.value){
    font-size: 80%;
    font-family: "Open Sans Light", Helvetica, Arial, sans-serif;
}
#temperatureRange span.value,
#humidityRange span.value,
#wind div.description,
#sunset .sunset-time,
#sunrise .sunrise-time {
    font-family: "Open Sans Regular", Helvetica, Arial, sans-serif;
}

hr {
    border-color: #bbb;
}

/*Calendar*/
#calendarController {
    text-align: center;
}
#calendarController .date {
    font-size: 150%;
}
#calendarController .hour {
    font-size: 400%;
}