@font-face {
    font-family: "Open Sans Light";
    src: url(../fonts/OpenSans-Light.ttf);
}

body {
    font-family: "Open Sans Light", Helvetica, Arial, sans-serif;
}

#temperature {
    font-size: 50px;
}