<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-translate.min.js"></script>
    <script src="js/libs/easeljs-0.8.2.min.js"></script>
    <script src="js/libs/tweenjs-0.6.2.min.js"></script>
    <script src="js/libs/moment.min.js"></script>

    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="dashboardApp">
<div style="width: 800px; height: 600px; border: 1px solid #ddd">
    <!--<div ng-controller="settingsController">-->
    <!--<button ng-click="changeLanguage('en')" translate>BUTTON_LANG_EN</button>-->
    <!--<button ng-click="changeLanguage('es')" translate>BUTTON_LANG_ES</button>-->
    <!--</div>-->

    <div class="row">
        <div class="col-xs-8">
            <clock width="500" height="500"></clock>
        </div>
        <div class="col-xs-4">
            <div ng-controller="meteorologyController">
                <span id="temperature">{{ weather.temperature.now | weatherFilter }}</span>
            </div>


            <!--{{ 'HELLO' | translate }}-->
            <!--<div translate>PARAGRAPH</div>-->
            <!--<div translate="WEATHER.X_DEGREES_IN" translate-value-temp="20" translate-value-in="{{'AT_SUN' | translate}}"></div>-->
            <!--<button ng-click="updateMeteorology()">Update meteorology</button>-->

            <div ng-controller="calendarController">
                {{date}}
            </div>

        </div>
    </div>
</div>
<!-- Modules -->
<script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/controllers/meteorologyController.js"></script>
<script src="js/controllers/settingsController.js"></script>
<script src="js/controllers/calendarController.js"></script>

<!-- Services -->
<script src="js/services/weatherService.js"></script>
<script src="js/services/forecastService.js"></script>

<!-- Directive -->
<script src="js/directives/clockDirective.js"></script>

<!-- Translations -->
<script src="js/translations/translationsEN.js"></script>
<script src="js/translations/translationsES.js"></script>
</body>
</html>