<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-translate.min.js"></script>
    <script src="js/libs/easeljs-0.8.2.min.js"></script>
    <script src="js/libs/tweenjs-0.6.2.min.js"></script>
    <script src="js/libs/moment.min.js"></script>
</head>
<body ng-app="dashboardApp">
<div ng-controller="meteorologyController">
    {{ weather.temperature.now | weatherFilter }}
    {{ forecast.temp.min }}


    {{ 'HELLO' | translate }}
    <div translate>PARAGRAPH</div>
    <div translate="WEATHER.X_DEGREES_IN" translate-value-temp="20" translate-value-in="{{'AT_SUN' | translate}}"></div>
    <button ng-click="updateMeteorology()">Update meteorology</button>
</div>

<div ng-controller="settingsController">
    <button ng-click="changeLanguage('en')" translate>BUTTON_LANG_EN</button>
    <button ng-click="changeLanguage('es')" translate>BUTTON_LANG_ES</button>
</div>

<!--<clock width="400" height="400"></clock>-->

<!-- Modules -->
<script src="js/app.js"></script>

<!-- Controllers -->
<script src="js/controllers/meteorologyController.js"></script>
<script src="js/controllers/settingsController.js"></script>

<!-- Services -->
<script src="js/services/weatherService.js"></script>
<script src="js/services/forecastService.js"></script>

<!-- Directive -->
<script src="js/directives/clockDirective.js"></script>

<!-- Translations -->
<script src="js/translations/translationsEN.js"></script>
<script src="js/translations/translationsES.js"></script>
</body>
</html>